body{
    overflow: hidden;
}
.container {
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    width: 100vw;
    margin-top: 60px;
}
.container .right {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
}
.container .left {
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.select {
    width: 70%;
    height: 70%;
    cursor: pointer;
    border-radius: 10px;
}
.blue{
    background-color: var(--blue) !important;
    color: white !important;
}
.input {
    padding: 10px;
    width: 80%;
    height: 300px;
    font-size: .9rem;
    direction: rtl;
    border-radius: 10px;
    color: #1f1f1f;
    border: none;
    resize: none;
    background-color: #e1e8e9;
    margin-top: 30px;
    box-sizing: content-box !important;
    transition: all 0.2s ease-out;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    outline: none;
}
.input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
    border: none;
    outline: none;
}