.status {
    box-shadow: 5px 5px 10px #ff313193;
    background-color: #ff2727;
    color: white;
    width: 150px;
    z-index: 1111111111111;
    height: 100px;
    border-radius: 8px;
    top: 60px;
    cursor: pointer;
    transition: all 0.5s;
    right: 5px;
    position: fixed;
    text-align: center;
    padding-top: 5px;
}

.background {
    /* background-image: url("https://framerusercontent.com/images/ukUaYu6JmoCFF4mRt1nFlb0I.jpg?scale-down-to=4096"); */
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    position: fixed;
    z-index: -111111111111111111111;
    height: 100vh;
}
.message_left {
    padding: 0 45px;
    color: white;
    border-radius: 10px;
    background-color: #54baff;
    position: relative;
    margin-bottom: 20px;
    min-height: 54px;
    display: inline-block;
    margin-left: 10px;
    min-width: 145px;
}
.message_left::after {
    width: 30px;
    height: 30px;
    background-color: #54baff;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    transform: skewY(-30deg);
    z-index: -111;
}
.message_left .date {
    position: absolute;
    font-size: 0.7rem;
    color: #ffffff98;
    bottom: 2px;
    left: 12px;
}
.message_left i {
    position: absolute;
    font-size: 0.7rem;
    color: #ffffff98;
    bottom: 8px;
    left: 40px;
}

.message_right {
    padding: 0 45px;
    color: white;
    border-radius: 10px;
    background-color: #ff6464;
    position: relative;
    margin-bottom: 20px;
    min-width: 145px;
    min-height: 54px;
    margin-right: 40px;
    display: inline-block;
}
.message_right::after {
    width: 30px;
    height: 30px;
    background-color: #ff6464;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    transform: skewY(30deg);
    z-index: -111;
}
.message_right .date {
    position: absolute;
    font-size: 0.7rem;
    color: #ffffff98;
    bottom: 2px;
    left: 12px;
}
.message_right i {
    position: absolute;
    font-size: 0.7rem;
    color: #ffffff98;
    bottom: 8px;
    left: 40px;
}
.content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 120px);
    padding-bottom: 140px;
    position: relative;
    top: 89px;
    transition: all 1s;
    left: 20px;
    width: 98vw;
}
.mess-container {
    width: 93vw;
}
.mess-container div:nth-child(1) {
    position: relative;
    padding-left: 45px;
}
.user-pic-mess {
    width: 40px;
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    left: 2px;
}
.username {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50px;
    height: 25px;
    display: inline-block;
    background-color: #1c2025bb;
    opacity: 0;
    transition: all 0.5s;
}
.user-pic-mess:hover ~ .username {
    opacity: 1;
}
pre {
    margin-bottom: 20px;
}
.replay {
    font-size: 0.8rem;
    position: absolute;
    top: 3px;
    left: 45px;
    border-left: 3px solid #598eff;
    padding-left: 4px;
    opacity: 0.7;
    cursor: pointer;
}
.contextmenu {
    width: 150px;
    height: 40px;
    box-shadow: 5px 5px 10px #0000008a;
    border-radius: 5px;
    position: fixed;
    background-color: #f7f7f7;
    top: 100px;
    overflow: hidden;
    opacity: 1;
    z-index: 111111111111;
}
.contextmenu div {
    width: 100%;
    height: 100%;
    color: var(--red);
    text-align: center;
    font-size: 1.3rem;
    padding-top: 7px;
    cursor: pointer;
}
.contextmenu div:hover {
    background-color: #dbdbdb;
}
.send-input {
    width: 100vw;
    height: 70px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    position: fixed;
    column-gap: 20px;
    bottom: 0;
    right: 0;
    text-align: center;
}
.send-input .send-input-text {
    outline: none;
    border: none;
    width: 80%;
    height: 80%;
    background-color: #1975ff;
    border-radius: 100px;
    color: white;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
}
.send-input .send-input-text::placeholder {
    color: #d8d8d8 !important;
}
.send-input .send-input-text:focus::placeholder {
    color: #555555 !important;
}
.send-input .send-input-text:focus {
    background-color: white;
    color: #1b1b1b;
    border: 3px solid #1975ff;
}
.send-input-text:not(:placeholder-shown) ~ i {
    background-color: #ff822e;
}
.send-input i {
    font-size: 2rem;
    cursor: pointer;
    width: 55px;
    height: 80%;
    color: white;
    box-sizing: border-box;
    padding-top: 12px;
    align-items: center;
    border-radius: 100px;
    background-color: #1975ff;
}
ul {
    list-style: none;
}
.context-menu {
    position: absolute;
}
.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px #00000050;
    padding: 10px 0;
    position: relative;
    z-index: 11111111111111111111;
}
.menu > li > a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}
.menu > li > a:hover {
    background: #f1f3f7;
    color: #0084ff;
}
.menu > li > a > i {
    padding-right: 10px;
}
.menu > li.trash > a:hover {
    color: red;
}
:root {
    --card: #1a1c38;
    --icons: #2f315c;
    --hover: #ea4c89;
    --button-hover: #ff5722;
    --link-color: #5b60bf;
    --shadow: 0 0 5px var(--hover), 0 0 25px var(--hover), 0 0 50px var(--hover),
        0 0 100px var(--hover);
}
.modelcontainer {
    width: 100vw;
    height: 100vh;
    background-color: #00000059;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1111111111111111111111111111111111111111111111111111111;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.sharemodel {
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: all 0.3s ease-out;
    flex-direction: column;
    column-gap: 20px;
    border-radius: 7px;
    position: fixed;
    z-index: 111111111;
    background-color: var(--card);
}
.sharemodel .item i {
    color: white !important;
}
.sharemodel .item {
    width: 70px;
    height: 70px;
    color: white !important;
    border-radius: 10px;
    cursor: pointer;
    font-size: 3rem;
    text-align: center;
    transition: all 0.5s;
    background-color: var(--icons);
}
.sharemodel .item:hover {
    box-shadow: var(--shadow);
    background-color: var(--hover);
}
h4 {
    color: white;
    font-size: 50px;
}
.fa-x {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
.white {
    width: 100vw;
    height: 30px;
}
