.user_box_container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 0 10vw;
    gap: 20px;
    margin-top: 80px;
}
.user_box {
    background-color: #ffb639;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding-right: 50px;
    min-width: 200px;
    max-width: 400px;
    min-height: 70px;
    padding-left: 30px;
    direction: rtl;
    max-height: 190px;
    padding-bottom: 10px;
    word-wrap: break-word;
    position: relative;
}
.user_box img {
    width: 50px;
    position: absolute;
    border-radius: 100%;
    right: 20px;
    top: -10px;
}
a {
    text-decoration: none;
}
