body {
    background-color: #e0e1e2;
}
.status {
    box-shadow: 5px 5px 10px #ff313193;
    background-color: #ff2727;
    color: white;
    width: 150px;
    z-index: 1111111111111;
    height: 100px;
    border-radius: 8px;
    top: 60px;
    cursor: pointer;
    transition: all 0.5s;
    right: 5px;
    position: fixed;
    text-align: center;
    padding-top: 5px;
}
.posts {
    width: 70%;
    margin: 50px auto;
}
.post {
    min-height: 200px;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #fefefe;
}
.user {
    display: flex;
    justify-content: start;
    font-size: 1rem;
    text-decoration: none;
    width: 90%;
    color: #292929;
    position: relative;
    column-gap: 20px;
    height: 100px;
}
a {
    text-decoration: none;
    color: black;
}
.user div p {
    font-size: 1.5rem;
    transition: all 0.1s linear;
}
.user div p:hover {
    color: #1975ff;
}
.user div p svg {
    transform: scale(0.5);
    padding-top: 10px;
}
.user img {
    border-radius: 100% !important;
    width: 70px !important;
    height: 70px !important;
}
.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
        no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.heart:active {
    transition-duration: 1s;
    background-position: -2800px 0;
}
.placement {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom {
    margin-top: 40px;
    padding: 30px;
    display: flex;
    column-gap: 20px;
    padding-top: 10px;
    border-top: #2929292f 2px solid;
    width: 90%;
}
.bottom .like {
    padding: 5px 10px;
    display: flex;
    column-gap: 30px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #6d6d6d;
    transition: all 0.3s;
    background-color: white;
    cursor: pointer;
}
.bottom .like.liked {
    border: 2px solid red;
    color: var(--red);
}
.bottom .like.com {
    border: 2px solid #005be4;
    color: #1975ff;
}
.bottom .like:hover {
    opacity: 0.7;
}
.user .menu {
    color: #292929;
    position: absolute;
    font-size: 2rem;
    top: 20px;
    left: 30px;
    cursor: pointer;
    background-color: white;
    padding: 5px;
}
.user .menu:hover {
    color: var(--red);
    animation: menu 0.8s;
}
.user .menu:hover ~ .details {
    opacity: 1;
}
@keyframes menu {
    20% {
        transform: rotate(30deg);
    }
    35% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(30deg);
    }
    70% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(0);
    }
}
.user .delete {
    color: #292929;
    position: absolute;
    font-size: 1.5rem;
    top: 24px;
    left: 70px;
    cursor: pointer;
    background-color: white;
    padding: 5px;
}
.user .delete:hover {
    color: var(--red);
    animation: delete 0.8s;
}
@keyframes delete {
    20% {
        transform: rotate(30deg);
    }
    35% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(30deg);
    }
    70% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(0);
    }
}
.details {
    padding: 5px 10px;
    background-color: #292929;
    color: white;
    top: -30px;
    left: -10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 11111;
    border-radius: 5px;
}
.details::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -5px;
    left: 35%;
    background-color: #292929;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transform: rotate(45deg);
}
.avatar-changed {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: space-between;
}
.avatar-changed img {
    width: 200px;
    border-radius: 10px;
    height: 200px;
}
.post.avatar-changed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* CSS Variables */
:root {
    --transition-duration: 0.15s;
    --color-primary: #f38a00;
}

/* Plus Button Styles */
.plus-button {
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 20px;
}

.plus-button.is-active .menu {
    display: block;
    background-color: #fefefe;
    box-shadow: 5px 5px 15px #1c202550;
}

.plus-button.is-active .button {
    transform: rotate(45deg) !important;
    transition-delay: 0;
}

.plus-button.is-active .arrow {
    transition-delay: var(--transition-duration);
}

.plus-button.is-active .arrow-left {
    transform: translate(1.9rem, -1.9rem);
    fill: var(--color-primary);
}

.plus-button.is-active .arrow-right {
    transform: translate(-0.15rem, 0.15rem);
}

.plus-button:not(.is-active) .button {
    transition-delay: var(--transition-duration);
}

.plus-button:not(.is-active) .arrow {
    transition-delay: 0;
}

/* Button Styles */
.plus-button .button {
    display: inline-block;
    transform: rotate(0);
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background: var(--color-primary);
    position: relative;
    cursor: pointer;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: linear;
}

.plus-button .button:hover {
    transform: scale(1.15) rotate(0);
}

/* Arrow Styles */
.plus-button .arrow {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.6rem;
    margin-left: -0.6rem;
    transition-property: transform, fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: linear;
}

/* Menu Styles */
.plus-button .menu {
    z-index: 999;
    color: var(--color-primary);
    background: rgba(var(--color-primary), 0.1);
    min-width: 20rem;
    padding: 0.8rem;
    position: absolute;
    display: grid;
    border-radius: 0.8em;
    grid-gap: 0.5em;
    top: 0;
    left: 5.5rem;
    box-shadow: 0 0.18em 0.37em rgba(var(--color-primary), 0.16),
        0 0.18em 0.37em rgba(var(--color-primary), 0.23);
    opacity: 0;
    display: none;
    animation: fade-in 0.25s ease-in-out 0.15s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        left: 4.5rem;
    }
    to {
        opacity: 1;
        left: 5.5rem;
    }
}
.comment-model-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1111111111111111111;
    background-color: #1c20253a;
    justify-content: center;
}
.comment-model-container .model {
    width: 600px;
    border-radius: 5px;
    height: 300px;
    position: fixed;
    position: relative;
    background-color: #fefefe;
    text-align: center;
}
.comment-model-container .model textarea {
    border-radius: 3px;
    max-width: 580px;
    max-height: 200px;
    border: none;
    outline: none;
    direction: rtl;
    margin-top: 20px;
    box-shadow: none;
    border: 1px solid #8d8d8d;
}
.comment-model-container .model button {
    padding: 3px 19px;
    background-color: #005be4;
    border-radius: 4px;
    color: white;
    box-shadow: none;
    outline: none;
    border: none;
    transition: all 0.1s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
}
.disable {
    opacity: 0.8;
    box-shadow: none !important;
}
.comment-model-container .model button.close {
    right: 110px;
    padding: 2px 19px;
    border: 1px solid #292929;
    color: black;
    background-color: white;
}
.comment-model-container .model button:focus {
    box-shadow: 0 0 0 4px #005be45d;
}
.error {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 210px;
}
.error.e {
    color: var(--red);
}
.container {
    display: flex;
    width: 95vw;
    justify-content: center;
}
.left-items {
    width: 20%;
    margin-top: 50px;
}
.top {
    width: 100%;
    min-height: 100px;
    background-color: #fefefe;
    padding: 10px;
    margin-bottom: 40px;
    padding-bottom: 0;
    border-radius: 10px;
}
@media screen and (max-width: 930px) {
    .left-items {
        display: none;
    }
    .posts {
        width: 98%;
        margin-left: 10px;
    }
}
@media screen and (max-width: 650px) {
    .avatar-changed img {
        width: 150px;
        height: 150px;
    }
}
td {
    border: 1px solid #2929296b;
    padding: 10px;
    border-radius: 5px;
}
.post .content a {
    color: #0000a5;
}
.post .content a:hover {
    color: #1f1ff0;
    text-decoration: underline;
}
blockquote {
    padding: 10px;
    padding-right: 20px;
    border-right: 4px solid #ffdb99;
    font-style: italic;
}
header.header {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    margin-left: auto;
    margin-top: 80px;
    width: 100vw;
    padding: 20px;
    column-gap: 50px;
    top: 60px;
    right: 0;
}
.header .item {
    text-decoration: none;
    position: relative;
}
.header .item .user {
    text-decoration: none;
    text-align: center;
    width: 70px;
    height: 70px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.header .item img.user{
    border-radius: 100%;
}
@media screen and (max-width: 1383px) {
    header.header {
        justify-content: start;
        overflow-x: scroll;
    }
}
.header .item p {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}
.img {
    max-width: 90%;
    border-radius: 10px;
}
.img-container .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 10px;
}

.image-model-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1111111111111111111;
    background-color: #1c20253a;
    justify-content: center;
}
.image-model-container .model {
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    max-width: 99vw;
    height: 500px;
    position: fixed;
    position: relative;
    background-color: #fefefe;
    text-align: center;
}
.model .v-input {
    margin-right: 30px;
}
.image-model-container .model textarea {
    max-width: 100%;
    border-radius: 3px;
    max-height: 400px;
    border: none;
    outline: none;
    direction: rtl;
    margin-top: 20px;
    box-shadow: none;
    border: 1px solid #8d8d8d;
}
.image-model-container .model button {
    padding: 3px 19px;
    background-color: #005be4;
    border-radius: 4px;
    color: white;
    box-shadow: none;
    outline: none;
    border: none;
    transition: all 0.1s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
}
.image-model-container .model button.close {
    right: 110px;
    padding: 2px 19px;
    border: 1px solid #292929;
    color: black;
    background-color: white;
}
.image-model-container .model button:focus {
    box-shadow: 0 0 0 4px #005be45d;
}
.none {
    display: none !important;
}
.delete_info {
    background-color: #292929;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.trash {
    justify-content: center !important;
}
