@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan+2&display=swap");
div{
    box-sizing: content-box !important;
}
html,
body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Baloo Bhaijaan 2";
    background-color: #e1e8e9;
}
.inp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhaijaan 2";
}
.Form-box {
    width: 60vw;
    height: 80vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    margin-top: 13vh;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
    overflow: hidden;
    text-align: center;
}
.Form-box .title {
    /* margin-left: 35%; */
    transition: all .5s;
    margin-top: 20px;
    font-size: 3rem;
    color: #131c44;
}
.Form-box .title2 {
    transition: all .5s;
    margin-top: 20px;
    font-size: .8rem;
    color: #131c44;
}
.Form-box .des {
    /* margin-left: 39%; */
    margin-top: 0;
    line-height: 0;
    font-size: 1.5rem;
    transition: all .5s;
    color: #131c44;
}
.username-inp {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #e1e8e9;
    /* margin-left: 36%; */
    margin-top: 30px;
    width: 250px;
    box-sizing: content-box !important;
    height: 30px;
    transition: all 0.2s ease-out;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
    border: none;
    outline: none;
}
.username-inp:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
    border: none;
    outline: none;
}
#username-sub {
    font-size: 2rem;
    width: 250px;
    font-family: "Baloo Bhaijaan 2";
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px 5px #d1d9e6;
    font-size: 2rem;
    border-radius: 100px;
    border: none;
    /* margin-left: 34.6%; */
    outline: none;
    background-color: #4b70e2;
    transition: all 0.1s ease-in;
}
#username-sub:active {
    transform: scale(0.97);
}
.error{
    color: #c90000b2;
    float: right;
}
.image{
    transition: all .5s;
    width: 200px;
    margin-top: 20px;
    height: 200px;
    border-radius: 100%;
}
.register a{
    color: #4b70e2;
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 583px){
    .Form-box{
        width: 90vw;
    }
}