.message-container{
    display: flex;
    width: 100vw;
    margin-top: 70px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.message{
    width: 90%;
    border-radius: 5px;
    color: white;
    padding: 20px;
    direction: rtl;
    background-color: #008cff;
}
.not_seened{
    background-color: #ffbb00;
}
.clear{
    padding: 10px 30px;
    background-color: #008cff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}
.clear:hover{
    transform: scale(1.09);
}
p{
    color: #384957;
}