.pbackground {
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13em;
    flex-direction: column;
    margin-top: 50px;
}
.pbackground .change {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    cursor: pointer;
    top: 30px;
    font-size: 1rem;
    padding-top: 5px;
    background-color: white;
    color: #86a2ff;
    border-radius: 100%;
}
.pbackground .avatar {
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    position: relative;
    border: 6px solid white;
    border-radius: 100%;
    margin-bottom: 30px;
    background-size: cover;
    margin-top: 50px;
}
.pbackground .avatar .change {
    right: -2px;
    top: -2px;
    color: white;
    background-color: #86a2ff;
}
.username {
    font-weight: 1;
    font-size: 2.3rem;
    text-align: center;
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    color: black;
}
.username ~ i{
    position: absolute;
    margin-top: 23px;
    cursor: pointer;
    left: 20px;
}
.address {
    font-weight: 1;
    font-size: 1rem;
    position: relative;
    color: #353535;
    margin-bottom: 15px;
}
.address i {
    margin-top: 5px;
    right: -15px;
    position: absolute;
}
.infos {
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tag {
    display: flex;
    align-items: center;
    padding: 3px 8px;
    color: white;
    position: absolute;
    right: 2em;
    border-radius: 100px;
    justify-content: center;
}
.tag svg {
    width: 20px;
    margin-bottom: 4px;
    height: 20px;
}
.gem {
    background-color: #3262ff;
    top: 2em;
    color: white;
}
.post {
    background-color: #ff9532;
    top: 5em;
    color: white;
}
.buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 40px;
}
.button {
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #3535356c, -5px -5px 5px #e6e6e6;
    width: 200px;
    font-size: 2rem;
    transition: all 0.3s;
    color: white;
    text-align: center;
}
.button:hover {
    transform: scale(0.9);
}
.button:active {
    box-shadow: none;
}
.pass_box{
    width: 80%;
    padding: 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 130px;
    color: #353535;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #ff9532a2;
}
.pass_box i {
    cursor: pointer;
}
.wraper{
    width: 70%;
    text-align: center;
}
.fallows{
    margin-bottom: 60px;
}
.bio{
    color: #353535;
    direction: rtl;
    word-wrap: break-word;
    text-align: center;
}
.pass_box input{
    background: #ff3232;
    border-radius: 10px;
    padding: 3px 20px;
    color: white;
    outline: none;
    border: none;
    opacity: 1;
}
span.white{
    height: 50px;
    width: 100vw;
}