@import url("/static/css/font.css");
:root {
    --blue: #4967ff;
    --yellow: #c1fd33;
    --gray: #a3a9c3;
    --dark: #1c2025;
    --red: #ff4f49;
    --base: #54baff;
}
* {
    box-sizing: border-box;
    font-family: "Baloo Bhaijaan 2" !important;
    padding: 0;
    flex-shrink: 0;
    margin: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
}
nav.nav {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 111111111111111111111111111111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 5px 0 10px #00000042;
}
.nav-items {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.navbar-item {
    color: #292929;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}
.navbar-item:hover {
    opacity: 0.7;
}
.active {
    color: #1975ff;
}
.logo {
    width: 40px;
    transition: all 0.3s;
}
.logo:hover {
    transform: scale(1.1) rotateZ(-10deg);
}
.profile-pic {
    width: 40px;
    border-radius: 100%;
}
.note_num {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    color: white;
    text-align: center;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-top: 3px;
    justify-content: center;
    background-color: #ff2727;
    height: 20px;
    border-radius: 100%;
}
.profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    column-gap: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.profile-nav i {
    transition: all 0.3s;
    position: relative;
    margin-top: 5px
}
.profile-nav i:nth-child(3){
    margin-right: 50px
}
.profile-nav i:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 542px) {
    nav.nav {
        padding: 0 5px;
    }
    .profile-nav i:nth-child(3){
        margin-right: 10px
    }
}
a,
span,
h1,
h2,
h3,
h4,
input,
h5,
h6 {
    display: inline-block;
}
:root {
    --transition-duration: 0.15s;
    --color-primary: #f38a00;
}

/* Plus Button Styles */
.plus-button {
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 20px;
}

.plus-button.is-active .menu {
    display: block;
    background-color: #fefefe;
    box-shadow: 5px 5px 15px #1c202550;
}

.plus-button.is-active .button {
    transform: rotate(45deg) !important;
    transition-delay: 0;
}

.plus-button.is-active .arrow {
    transition-delay: var(--transition-duration);
}

.plus-button.is-active .arrow-left {
    transform: translate(1.9rem, -1.9rem);
    fill: var(--color-primary);
}

.plus-button.is-active .arrow-right {
    transform: translate(-0.15rem, 0.15rem);
}

.plus-button:not(.is-active) .button {
    transition-delay: var(--transition-duration);
}

.plus-button:not(.is-active) .arrow {
    transition-delay: 0;
}

/* Button Styles */
.plus-button .button {
    display: inline-block;
    transform: rotate(0);
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background: var(--color-primary);
    position: relative;
    cursor: pointer;
    transition-property: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: linear;
}

.plus-button .button:hover {
    transform: scale(1.15) rotate(0);
}

/* Arrow Styles */
.plus-button .arrow {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -0.6rem;
    margin-left: -0.6rem;
    transition-property: transform, fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: linear;
}

/* Menu Styles */
.plus-button .menu {
    z-index: 999;
    color: var(--color-primary);
    background: rgba(var(--color-primary), 0.1);
    min-width: 20rem;
    padding: 0.8rem;
    position: absolute;
    display: grid;
    border-radius: 0.8em;
    grid-gap: 0.5em;
    top: 0;
    left: 5.5rem;
    box-shadow: 0 0.18em 0.37em rgba(var(--color-primary), 0.16),
        0 0.18em 0.37em rgba(var(--color-primary), 0.23);
    opacity: 0;
    display: none;
    animation: fade-in 0.25s ease-in-out 0.15s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        left: 4.5rem;
    }
    to {
        opacity: 1;
        left: 5.5rem;
    }
}
i{
    font-family: "Font Awesome 6 Free" !important;
}
.comment-model-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1111111111111111111;
    background-color: #1c20253a;
    justify-content: center;
}
.comment-model-container .model {
    width: 600px;
    border-radius: 5px;
    height: 300px;
    position: fixed;
    position: relative;
    background-color: #fefefe;
    text-align: center;
}
.message_error{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 1000;
    transition: all .3s;
    background-color: var(--red);
    color: white;
    direction: rtl;
    position: fixed;
    bottom: 10px;
    right: 5px;
}
.message_error i{
    font-size: 1.5rem;
    margin-top: 5px;
}
.message_error:hover{
    transform: scale(.95);
}