#app form{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #00000031;
}
input{
    border: 2px solid #00000063 !important;
    border-radius: 5px;
    width: 300px;
    direction: rtl;
    padding: 10px;
}
.blue{
    background-color: var(--blue) !important;
    color: #fefefe !important;
}