:root {
    --background-image-color: #ffebc6;
}
.settings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 100px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.settings div.input-container{
    width: 170px;
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.settings div.input-container i{
    cursor: pointer;
}
.avatars {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}
.avatars img {
    background-color: var(--background-image-color);
    width: 200px;
    border-radius: 20px;
}
.avatars .avatar-boxs {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    width: 800px;
    column-gap: 15px;
}
.avatars .avatar-boxs img {
    background-color: var(--background-image-color);
    border-radius: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.avatars .avatar-boxs div {
    background-color: var(--background-image-color);
    border-radius: 20px;
    text-align: center;
    padding-top: 35px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    background: none;
    color: #1f1f1f;
    width: 100px;
    transform: scale(2);
}
p.error{
    display: inline-block;
    color: #ff4343;
    position: absolute;
    bottom: 0;
    left: 0;
}
.blue{
    background-color: #248aff !important;
    color: white !important;
}