<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="../static/library/Vuetify.css" rel="stylesheet" />
        <title>{% block Title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/library/regular_uicons.css" />
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="/static/css/root.css" />
        <link
            rel="icon"
            href="/static/pictures/favicon.png"
        />
    </head>
    <body>
        <script src="/static/library/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
        <script>
            {% include "inc/navbarComp.html" %}
        </script>
        {% block content %}{% endblock %}
        <script>
            {% block script %}{% endblock %}
        </script>
    </body>
</html>
