{% extends "base.html" %}

{% block head %} <link rel="stylesheet" href="../static/css/chatroom.css" />{% endblock %}
{% block Title %}گفتکو{% endblock %}
{% block content %}
<div class="background"></div>

<div id="app">
    <navbar active_item="chat"></navbar>
    <div class="content" ref="content">
        {% for i in messages %} {% if i.writer == current_user %}
            <messager date="{{ i.date }}" message="{{ i.content }}" id="{{ i.id }}"></messager>
        {% else %}
            <messageL
                id="{{ i.id }}"
                date="{{ i.date }}"
                message="{{ i.content }}"
                user='{"image_src": "{{ i.writer.avatar }}", "username": "{{ i.writer.username }}", "url":"/@{{ i.writer.username }}"}'
            ></messageL>
        {% endif %} {% endfor %}
    </div>
    <sendInput ref="send" @new-message="addMessage"></sendInput>
</div>
{% endblock %}

{% block script %}
    {% raw %}



    function formatText(inputText) {
        const maxLength = 40;
        const spacesBeforeBr = [37, 38, 39, 41, 42, 43];

        let outputText = "";
        let count = 0;

        for (let i = 0; i < inputText.length; i++) {
            outputText += inputText[i];
            count++;

            if (count === maxLength) {
                if (spacesBeforeBr.includes(inputText[i + 1])) {
                    outputText = outputText.replace(/ $/, "ـ<br />");
                } else {
                    outputText += "<br />";
                }
                count = 0;
            }
        }

        return outputText;
    }

    document.body.addEventListener("click", (ev) => {
        document.querySelectorAll(".context-menu").forEach((item) => {
            item.style.display = "none";
        });
    });

    Vue.component("messagel", {
        props: {
            message: {},
            user: {},
            like_count: {
                default: 0,
            },
            date: {}
        },
        data() {
            return {
                seen: false,
                text: formatText(this.message),
                image_src: JSON.parse(this.user).image_src,
                username: JSON.parse(this.user).username,
                url: JSON.parse(this.user).url,
            };
        },
        methods: {
            GoToUser() {
                window.location = this.url;
            },
            contextmenu(event) {
                if (this.$refs.cx.style.display === "none") {
                    this.$refs.cx.style.left = event.pageX - 20 + "px";
                    this.$refs.cx.style.top = event.pageY - 70 + "px";
                    this.$refs.cx.style.display = "block";
                }
            },
            copy() {
                navigator.clipboard.writeText(this.text);
                document
                    .querySelectorAll(".context-menu")
                    .forEach((item) => {
                        item.style.display = "none";
                    });
            },
            like() {
                document
                    .querySelectorAll(".context-menu")
                    .forEach((item) => {
                        item.style.display = "none";
                    });
                this.like_count++;
            },
        },
        template: `
<div class="mess-container">
    <div>
        <div @contextmenu.prevent="contextmenu" @click.stop="contextmenu" class="message_left">
            <pre v-html="text"></pre>
            <div class="date">{{ date }}</div>
            <i class="fi fi-rr-check"></i>
        </div>
        <img @click="GoToUser" class="user-pic-mess" :src="image_src" />
        <div class="username">{{ username }}</div>
    </div>
    <div ref="cx" id="contextMenu" class="context-menu" style="display: none">
        <ul class="menu">
            <li @click.stop="copy">
                <a @click.stop="copy" href="#"
                    ><i @click.stop="copy" class="fi fi-rr-copy-alt" aria-hidden="true"></i> Copy
                </a>
            </li>
        </ul>
    </div>
</div>
    `,
    });

    Vue.component("messager", {
        props: {
            message: {},
            id: {},
            date: {}
        },
        data() {
            return {
                is: true,
                seen: false,
                text: formatText(this.message),
            };
        },
        methods: {
            contextmenu(event) {
                if (this.$refs.cx.style.display === "none") {
                    this.$refs.cx.style.left = event.pageX - 20 + "px";
                    this.$refs.cx.style.top = event.pageY - 70 + "px";
                    this.$refs.cx.style.display = "block";
                }
            },
            copy() {
                navigator.clipboard.writeText(this.text);
                document
                    .querySelectorAll(".context-menu")
                    .forEach((item) => {
                        item.style.display = "none";
                    });
            },
            remove() {
                document
                    .querySelectorAll(".context-menu")
                    .forEach((item) => {
                        item.style.display = "none";
                    });

                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

                var urlencoded = new URLSearchParams();
                urlencoded.append("id", this.id);
                urlencoded.append("pin", "FFRRWETER%^%$TYER%#%$R#$%$#^54643643%$#%$#f");
                {% endraw %}
                urlencoded.append("user_id", {{ current_user.id }});
                {% raw %}
                var requestOptions = {
                    method: 'DELETE',
                    headers: myHeaders,
                    body: urlencoded,
                    redirect: 'follow'
                };

                fetch("/api/delMessage", requestOptions)
                .then(response => response.text())

                .then(result => {
                    this.is = false;
                    }
                )
                .catch(error => console.log('error', error));
            }
            },
        template: `
<div v-if="is" class="mess-container">
    <div dir="rtl">
        <div @click.stop="contextmenu($event)" @contextmenu.prevent="contextmenu" class="message_right">
            <pre v-html="text"></pre>
            <div class="date">{{ date }}</div>
            <i class="fi fi-rr-check"></i>
        </div>
    </div>
    <div ref="cx" id="contextMenu" class="context-menu" style="display: none">
        <ul class="menu">
            <li @click.stop="copy">
                <a @click.stop="copy" href="#"
                    ><i @click.stop="copy" class="fi fi-rr-copy-alt" aria-hidden="true"></i> Copy
                </a>
            </li>
            <li @click.stop="remove" class="trash">
                <a @click.stop="remove" href="#"
                    ><i @click.stop="remove" class="fi fi-rr-trash-xmark" aria-hidden="true"></i>
                    Delete</a
                >
            </li>
        </ul>
    </div>
</div>
    `,
    });

    Vue.component("sendinput", {
        data() {
            return {
                message: "",
            };
        },
        methods: {
            send() {
                if (this.message.trim() !== "") {
                    var myHeaders = new Headers();
                    myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

                    var urlencoded = new URLSearchParams();
                    urlencoded.append("content", this.message);
                    urlencoded.append("pin", "FFRRWETER%^%$TYER%#%$R#$%$#^54643643%$#%$#f");

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: urlencoded,
                        redirect: 'follow'
                    };

                    fetch("http://127.0.0.1:1223/api/addMessage", requestOptions)
                    .then(response => response.text())

                    .then(result => {
                        this.$emit("new-message", this.message, JSON.parse(result).date, JSON.parse(result).id)
                        this.message = "";
                        }
                    )
                    .catch(error => console.log('error', error));
                }
                this.$parent.$refs.content.scrollTop = this.$parent.$refs.content.scrollHeight;
            },
        },
        template: `
<div class="send-input">
    <input dir="rtl" @keyup.enter="send" v-model="message" type="text" class="send-input-text" placeholder="پیامی بنویسید...">
    <i @click="send" class="fi fi-rr-paper-plane-top"></i>
</div>`,
    });
    // root instance
    var app = new Vue({
        el: "#app",
        data: {},
        mounted(){
            this.$refs.content.scrollTop = this.$refs.content.scrollHeight;
        },
        methods: {
            addMessage(message, date, id) {
                const messagerComponent = Vue.extend({
                    template:
                        '<messager :id="id" :message="message" :date="date"></messager>',
                    data() {
                        return {
                            message: message,
                            date: date,
                            id: id
                        };
                    },
                });
                const vm = new messagerComponent().$mount();
                this.$refs.content.appendChild(vm.$el);
            },
            change(messsages){
                this.$refs.content.innerHTML = ""
                for (const message of JSON.parse(messsages).all){
                    if (message.type == "right"){
                        const messagerComponent = Vue.extend({
                            template:
                                    '<messager :date="date" :message="message" :id="id"></messager>',
                            data() {
                                    return {
                                        message: message.content,
                                        id: message.id,
                                        date: message.date
                                    };
                                },
                        });
                        const vm = new messagerComponent().$mount();
                        this.$refs.content.appendChild(vm.$el);
                    }
                    else {
                        const messagerComponent = Vue.extend({
                            template:
                                    `<messagel :message="message"
                                    :date="date"
                                    user='{"image_src": "${message.avatar}",
                                    "username": "${message.username}",
                                    "url":"/@${message.username}"}'></messagel>`,

                            data() {
                                    return {
                                        date: message.date,
                                        message: message.content,
                                    };
                                },
                        });
                        const vm = new messagerComponent().$mount();
                        this.$refs.content.appendChild(vm.$el);

                    }
                }

            }
        },
    });

    function fetchData() {
        fetch("/chatContent", { method: 'GET' })
            .then(response => response.text())
            .then(result => {
                app.change(result);
                setTimeout(fetchData, 5000);
            });

    }
    // fetchData()
    {% endraw %}
{% endblock %}