{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="../static/css/home.css" /> {% endblock %} {% block
Title %}Booki - خانه{% endblock %} {% block content %}
<div id="app">
    <navbar @comment="open_comd" @image="open_immd" active_item="home" avatar="{{ current_user.avatar }}"
        message_count="{{ not_list }}"></navbar>
    <site-header items='
                [
                    {% for user in users %}
                        {"user_img": "{{ user.avatar }}",
                        "user_href": "/@{{ user.username }}",
                        "username": "{{ user.username }}"},
                    {% endfor %}
                ]
            '>
    </site-header>
    <div class="container">
        <div class="posts">
            {% for post in posts %}
            <post {% if post.writter==current_user %} iw {% endif %}
                content="<img class='img' src='{{ post.img }}'><p>{{ post.content }}</p>" id="{{ post.id }}"
                username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                classes="img-container post" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}">
            </post>
            {% endfor %}
        </div>
        <!-- <div class="left-items">
            <div dir="rtl" class="top">
                <p>کاربران برتر</p>
                <user username="علی" score="120" href="#"
                    img="https://wordpress.iqonic.design/product/wp/socialv/wp-content/uploads/avatars/18/1656590512-bpfull.jpg">
                </user>
            </div>
        </div> -->
    </div>
</div>

{% raw %}
<script>
    Vue.component("site-header", {
        props: ["items"],
        data() {
            return {
                items_dict: eval(this.items),
            };
        },
        template: `
            <header ref="root" class="header">
                <a href="/@booki" class="item">
                    <div style="background-image: url(/static/pictures/favicon.png)" class="user"></div>
                    <p>Booki</p>
                </a>
                <a :href="item.user_href" v-for="item in items_dict" class="item">
                    <img :src="item.user_img" class="user" />
                    <p>{{ item.username }}</p>
                </a>
            </header>
                    `,
    });

    Vue.component("post", {
        props: {
            id: {},
            content: {},
            username: {},
            img: {},
            avatar: {},
            date: "",
            like_classes: {
                default: ""
            },
            likes: {
                default: 0,
            },
            iw: {
                default: false,
            },
            classes: { default: "post" },
        },
        data() {
            return {
                is: true,
                delete_button: "حذف"
            };
        },

        methods: {
            like() {
                if (this.like_classes) {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/unlike', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "black"
                                this.like_classes = "";
                                this.likes--;
                            }
                        })
                } else {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/like', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "var(--red)"
                                this.like_classes = "liked";
                                this.likes++;
                            }
                        })
                }
            },
            exclamation(ev) {
                this.$refs.message.style.opacity = "1";
                this.$refs.message.style.left = "-19px";
                this.$refs.message.innerText = "گزارش داده شد!";
                setTimeout(() => {
                    this.$refs.message.style = "";
                    this.$refs.message.style.left = "-19px";
                }, 2000);
            },
            delete_() {
                if (
                    this.$refs.itrash.getAttribute("class") ===
                    "fi fi-rr-check"
                ) {
                    var myHeaders = new Headers();
                    myHeaders.append(
                        "Content-Type",
                        "application/x-www-form-urlencoded"
                    );

                    var urlencoded = new URLSearchParams();
                    urlencoded.append("id", this.id);
                    var requestOptions = {
                        method: "DELETE",
                        headers: myHeaders,
                        body: urlencoded,
                        redirect: "follow",
                    };

                    fetch("/api/delete", requestOptions)
                        .then((response) => response.text())

                        .then((result) => {
                            this.is = false;
                        })
                        .catch((error) => console.log("error", error));
                } else {
                    this.$refs.itrash.setAttribute(
                        "class",
                        "fi fi-rr-check"
                    );
                    this.$refs.trash.setAttribute("class", "like trash liked");
                    this.delete_button = "مطمئنید؟"
                }
            },
        },
        template: `
                        <div v-if="is" :class="classes">
                            <div dir="rtl" class="user">
                                <a :href="'\@' + username">
                                    <img :src="avatar" />
                                </a>
                                <a :href="'\@' + username">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>{{ date }}</small>
                                    </div>
                                </a>
                            </div>
                            <div v-html="content" dir="rtl" class="content"></div>
                            <div dir="rtl" class="bottom">
                                <div @click="like" ref="like" :class="'like ' + like_classes">
                                    <i ref="like_icon" class="fi fi-rr-circle-heart"></i>
                                    <small>{{ likes }}</small>
                                </div>
                                <div @click="delete_" ref="trash" class="like trash">
                                    {{ delete_button }} <i ref="itrash" class="fi fi-rr-trash-xmark"></i>
                                </div>
                                </a>
                            </div>
                        </div>
                    `,
    });

    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="user">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });

    new Vue({
        el: "#app",
        methods: {
            open_comd() {
                this.$refs.comd.open();
            },
            open_immd() {
                this.$refs.immd.open();
            },
        },
    });
</script>
{% endraw %} {% endblock %}