{% extends "base.html" %}
{% block Title %}پیام ها{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/messages.css">
{% endblock %}


{% block content %}
<div id="app">
    <navbar active_item="messages"></navbar>
    <div class="message-container">
        {% if NSN or SN %}
        <div @click="clear" class="clear">پاک کردن همه</div>
        {% else %}
        <p>empty!</p>
        {% endif %}
        {% for message in NSN %}
        <div class="message not_seened"> {{ message }} </div>
        {% endfor %}
        {% for message in SN %}
        <div class="message">{{ message }}</div>
        {% endfor %}
    </div>
</div>


<script>
    app = new Vue({
        el: "#app",
        data: {},
        methods: {
            clear() {
                fetch("/api/messClear").then((response) => {
                    window.location.href = "/messages"
                })
            }
        }
    })
    document.addEventListener("DOMContentLoaded", () => {
        fetch("/api/seen")
    })
</script>
{% endblock %}