{% extends "base.html" %} {% block head %}
<link href="../static/css/profile.css" rel="stylesheet" />
<link href="../static/library/Vuetify.css" rel="stylesheet" />

{% endblock %} {% block Title %}{{ user.username }}{% endblock %} {% block
content %}
<div id="app">
    <div @click="usernameValid = false" v-if="usernameValid" class="message_error">
        <i class="fi fi-rr-exclamation"></i>این نام کاربری موجود است!
    </div>
    <navbar></navbar>
    <div style="
            background-image: url('https://wordpress.iqonic.design/product/wp/socialv/wp-content/themes/socialv-themes/assets/images/redux/default-cover.jpg');
        " class="pbackground">
        <div ref="avatar" style="
                background-image: url('{{ user.avatar }}');
            " class="avatar">
            {% if current_user == user %}
            <div @click="changeAvatar" class="change"><i class="fi fi-rr-camera"></i></div>
            {% endif %}
        </div>
        <div class="infos">
            <input disabled value="{{ user.username }}" class="username" ref="username" name="username" type="text"
                @keydown.enter="updateUsername" />
            {% if current_user == user %}
            <i ref="changeU" @click="changeUsername" class="fi fi-rr-edit"></i>
            {% endif %}

            <h6 class="address">
                <i class="fi fi-rr-marker"></i>{{ user.country }}, {{
                user.city }} &nbsp; 
            </h6>
            <div dir="rtl" class="tag gem">
                <svg width="800px" height="800px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                    class="iconify iconify--fxemoji" preserveAspectRatio="xMidYMid meet">
                    <path fill="#0096D1"
                        d="M26.1 49.8l9.6 21.8c0 .1-.1.1-.1.1L16.9 49.8h9.2zm-8.8-20.1H.1c0 .7 1.1 1.6 1.1 1.6l15.7 18.5l6.3-6.7l-5.9-13.4z">
                    </path>
                    <path fill="#76DFFF"
                        d="M71.5 30.5c-.5.5-1.3.5-1.8 0c-.2-.2-.4-.6-.4-.9H54.6l-9.2-10L55 9.5l16.3 19.1s0 .1.1.1h.1c.5.6.5 1.4 0 1.8zm-35.6-.8l9.4-10l-9.4-10.2l-9.4 10.2l9.4 10z">
                    </path>
                    <path fill="#59CAFC"
                        d="M36.3 71.7c-.1.1-.2 0-.1-.1l9.6-21.8H55L36.3 71.7zm12.4-28.6l6.3 6.7l16.4-19.2s.4-.6.4-.9H54.6l-5.9 13.4z">
                    </path>
                    <path fill="#27C7FF" d="M26.5 19.7l-9.2 10h18.6z"></path>
                    <path fill="#B0E9FF" d="M45.4 19.7l-9.5 10h18.7z"></path>
                    <path fill="#00B1FF"
                        d="M26.5 19.7l-9.2 10H.1s.1-.6.5-1l15.8-18.5c.1-.1.2-.2.3-.2c.2-.3.5-.4.9-.4c.7 0 1.2.6 1.2 1.2c0 .2-.1.4-.2.6l7.9 8.3zm9.4 10l12.8 13.5l5.9-13.5H35.9zm-18.6 0l5.9 13.5L36 29.7H17.3zm8.8 20.1l9.7 22c.1.1.2.1.3 0l9.7-22H26.1zm22.6-6.7l-2.9 6.7H55l-6.3-6.7z">
                    </path>
                    <path fill="#59CAFC"
                        d="M45.4 19.7L35.9 9.5H55l-9.6 10.2zM35.9 9.5H18c-.4 0-1.2 0-.9.3l9.4 9.9l9.4-10.2z"></path>
                    <path fill="#0074A8" d="M23.2 43.1l-6.3 6.7h9.2z"></path>
                    <path fill="#0096D1" d="M23.2 43.1l2.9 6.7h19.7l2.9-6.7l-12.8-13.4z"></path>
                    <path fill="#FFF"
                        d="M52.7 29.9c2.7.7 4.8 2.8 5.5 5.5c.1.3.4.3.5 0c.7-2.7 2.8-4.8 5.5-5.5c.3-.1.3-.4 0-.5c-2.7-.7-4.8-2.8-5.5-5.5c-.1-.3-.4-.3-.5 0c-.7 2.7-2.8 4.8-5.5 5.5c-.3.1-.3.4 0 .5z">
                    </path>
                    <path fill="#B0E9FF"
                        d="M42.6 3.6c1.4.4 2.5 1.5 2.9 2.9c0 .1.2.1.2 0c.4-1.4 1.5-2.5 2.9-2.9c.1 0 .1-.2 0-.2c-1.4-.4-2.5-1.5-2.9-2.9c0-.1-.2-.1-.2 0c-.4 1.4-1.5 2.5-2.9 2.9c-.1 0-.1.2 0 .2z">
                    </path>
                </svg>
                &nbsp; {{ user.gems }} الماس
            </div>
            <div dir="rtl" class="tag post">
                <svg fill="#000000" width="800px" height="800px" viewBox="0 0 256 256" id="Flat"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M216,40H40A16.01833,16.01833,0,0,0,24,56V200a16.01833,16.01833,0,0,0,16,16H216a16.01833,16.01833,0,0,0,16-16V56A16.01833,16.01833,0,0,0,216,40ZM180,168H76a8,8,0,0,1,0-16H180a8,8,0,0,1,0,16Zm0-32H76a8,8,0,0,1,0-16H180a8,8,0,0,1,0,16Zm0-32H76a8,8,0,0,1,0-16H180a8,8,0,0,1,0,16Z" />
                </svg>
                &nbsp; {{ user.posts | length }} پست
            </div>
            <div class="wraper">
                <p class="bio">
                    {{ user.bio }}
                </p>
                <p class="fallows">{{ fallows }} دنبال کننده</p>
            </div>
            {% if current_user != user %}
                {% if user.username != 'booki' %}
                    <div class="buttons">
                        <div @click="fallow" ref="fallow" style="background-color: var(--blue)" class="button" v-if="!fallowed">
                            دنبال کردن
                        </div>
                        <div @click="fallow" ref="fallow" style="background-color: var(--red)" v-if="fallowed" class="button">
                            دنبال نکردن
                        </div>
                    </div>
                {% endif %}
            {% else %}
            <div class="pass_box">
                <i @click="changeP" class="fi fi-rr-edit"></i>
                <input ref="password" class="password" :type="type" name="password"
                    value="{{ current_user.password }}" />
                <i @click="type = (type === 'password') ? 'text' : 'password'" class="fi fi-rr-eye"></i>
            </div>
            <span class="white"></span>
            {% endif %}
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
        {% if fallow %}
    fallowed: true,
        {% else %}
    fallowed: false,
        {% endif %}
    usernameValid: false,
        type: "password"
        },

    methods: {
        changeUsername() {
            this.$refs.username.disabled = false;
            this.$refs.username.focus();
            this.$refs.changeU.setAttribute(
                "class",
                "fi fi-rr-check-circle"
            );
            this.$refs.changeU.addEventListener(
                "click",
                this.updateUsername
            );
        },
        changeP() {
            let data = new FormData();
            data.append("password", this.$refs.password.value);

            fetch("/api/edit", {
                method: "POST",
                body: data,
            });

            setTimeout(
                () =>
                (window.location.href =
                    "/@" + "{{ current_user.username }}"),
                700
            );
        },
        changeAvatar(){
            var inputElement = document.createElement("input");
            inputElement.type = "file";
            inputElement.accept = "image/jpeg, image/png";

            inputElement.addEventListener("change", (event) => {
                var file = event.target.files[0];
                var fileType = file.type;

                if (fileType === "image/jpeg" || fileType === "image/png") {
                    var formData = new FormData();
                    formData.append("file", file);

                    fetch("/api/uploadavatar", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.ok) {
                                console.log("OK");
                                return response.json();
                            } else {
                                console.error("no OK");
                            }
                        })
                        .then((data) => {
                            console.log(data);
                            if (data.success) {
                                this.$refs.avatar.style.backgroundImage = "url(" + data.url + ")";
                            }
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }
            });

            inputElement.click();
        },
        updateUsername() {
            this.$refs.changeU.setAttribute("class", "fi fi-rr-edit");
            this.$refs.username.disabled = true;
            let formData = new FormData();
            formData.append("username", this.$refs.username.value);

            fetch("/api/uploadavatar", {
                method: "POST",
                body: formData,
            })
                .then((response) => {
                    if (response.ok){
                        return response.json();
                    }
                })
                .then((data) => {
                    if (data.valid) {
                        this.usernameValid = true;
                    } else {
                        this.usernameValid = false;
                    }
                });

            let data = new FormData();
            data.append("username", this.$refs.username.value);

            if (!this.usernameValid) {
                fetch("/api/edit", {
                    method: "POST",
                    body: data,
                });

                setTimeout(
                    () =>
                    (window.location.href =
                        "/@" + this.$refs.username.value),
                    700
                );
            }
        },
        fallow() {
            var formData = new FormData();
            formData.append("id", {{ user.id }});
        {% raw %}

        if (!this.fallowed) {
            fetch("/api/addfallow", { method: "PUT", body: formData });
            setTimeout(() => {
                this.fallowed = true;
            }, 500);
        } else {
            fetch("/api/delfallow", {
                method: "DELETE",
                body: formData,
            });

            setTimeout(() => {
                this.fallowed = false;
            }, 500);
        }
    },
        },
    });
</script>
{% endraw %} {% endblock %}