{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="./static/css/register.css" />
{% endblock %} {% block Title %}ثبت نام{% endblock %} {% block content %} {% raw
%}
<div id="app" dir="rtl" class="Form-box">
    <h4 ref="title" class="title">نام کاربری خود را وارد کنید</h4>
    <div class="inp-box">
        <input maxlength="300" ref="input" type="text" v-model="value" @keydown="typed" @keydown.enter="check()"
            :placeholder="placeholder" dir="ltr" id="username"
            v-show="scene == 'username' || scene == 'password' || scene == 'address'" class="input" /><br
            v-if="scene == 'password' || scene == 'address'" />

        <textarea placeholder="من یک ..." maxlength="300" ref="text" v-model="value" v-show="scene == 'bio'"
            class="input"></textarea><br v-if="scene == 'password' || scene == 'address'" />

        <input @keydown.enter="check()" ref="input_2" type="text" v-model="value_2" :placeholder="placeholder_2"
            @keydown="typed" dir="ltr" id="username" v-if="scene == 'password' || scene == 'address'" class="input" />

        <br v-if="error" />
        <img @click="changeProfile" v-if="scene == 'profile'" class="profile" ref="image"
            src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" />
        <p ref="error" v-if="error" class="error">{{ error_text }}</p>
        <br />
        <p ref="characters" v-if="(scene == 'username' || scene == 'password') && character" class="input-detail">
            حداقل {{ character }} کاراکتر باشد
        </p>
    </div>

    <button v-if="scene != 'profile' && scene != 'gender'" @click.stop="check" ref="sub" id="username-sub">
        {{ button_text }}
    </button>
    <div v-if="scene == 'gender'" class="genders">
        <div @click="Rgender = 'woman'; next()" class="box">
            <img src="https://cdn-icons-png.flaticon.com/512/6997/6997674.png" />
        </div>
        <div @click="Rgender = 'man'; next()" class="box">
            <img src="https://cdn-icons-png.flaticon.com/512/6997/6997662.png" />
        </div>
    </div>
    <p v-if="scene == 'username'" class="login">
        حساب دارید؟ <a href="/">وارد شوید!</a>
    </p>
    <p v-if="scene == 'profile'" @click="next()" class="login">
        <a>الان نه</a>
    </p>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            error_text: "",
            character: "3",
            error: false,
            value: "",
            value_2: "",
            button_text: "بعدی",
            info_error: false,
            placeholder: "username",
            placeholder_2: "",
            scene: "username",
            Rusername: "",
            Rpassword: "",
            Rbio: "",
            Rcountry: "",
            Rcity: "",
            Rgender: "",
            Ravatar: "https://cdn-icons-png.flaticon.com/512/3177/3177440.png",
        },
        methods: {
            check() {
                if (this.scene == "username") {
                    if (this.value.length < 3) {
                        this.$refs.characters.style.color = "red";
                        this.info_error = true;
                    } else {
                        this.valid();
                    }
                }
                else if (this.scene == "password") {
                    if (this.value == this.value_2) {
                        this.error = false;
                        if (this.value.length < 8) {
                            this.$refs.characters.style.color = "red";
                            this.info_error = true;
                        } else {
                            this.next();
                        }
                    } else {
                        this.error = true;
                        this.error_text = "رمز عبور ها مطابقت ندارند";
                    }
                }
                else if (this.scene == "address") {
                    if (this.value && this.value_2) {
                        this.next();
                    }
                }
                else if (this.scene == "bio") {
                    this.next();
                }
            },
            typed() {
                if (this.scene == "username") {
                    if (this.value.length > 1) {
                        this.$refs.characters.style.color = "green";
                        this.info_error = false;
                    }
                }
                if (this.scene == "password") {
                    if (this.value.length > 8) {
                        this.$refs.characters.style.color = "green";
                        this.info_error = false;
                    }
                }
                this.error = false;
            },
            valid() {
                var myHeaders = new Headers();
                myHeaders.append(
                    "Content-Type",
                    "application/x-www-form-urlencoded"
                );

                var urlencoded = new URLSearchParams();
                urlencoded.append("username", this.value);

                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: urlencoded,
                    redirect: "follow",
                };

                if (!this.error && !this.info_error) {
                    fetch("/api/userValid", requestOptions)
                        .then((response) => response.text())
                        .then((data) => {
                            if (JSON.parse(data).success) {
                                console.log(JSON.parse(data));
                                if (JSON.parse(data).valid) {
                                    this.error = true;
                                    this.error_text =
                                        "این نام کاربری موجود است!";
                                } else {
                                    this.next();
                                }
                            }
                        });
                }
            },
            changeProfile() {
                var inputElement = document.createElement("input");
                inputElement.type = "file";
                inputElement.accept = "image/jpeg, image/png";

                inputElement.addEventListener("change", (event) => {
                    var file = event.target.files[0];
                    var fileType = file.type;

                    if (fileType === "image/jpeg" || fileType === "image/png") {
                        var formData = new FormData();
                        formData.append("file", file);

                        fetch("/api/uploadavatar", {
                            method: "POST",
                            body: formData,
                        })
                            .then((response) => {
                                if (response.ok) {
                                    console.log("OK");
                                    return response.json();
                                } else {
                                    console.error("no OK");
                                }
                            })
                            .then((data) => {
                                console.log(data);
                                if (data.success) {
                                    this.Ravatar = data.url;
                                    this.$refs.image.src = data.url;
                                    this.next();
                                }
                            })
                            .catch((error) => {
                                console.error(error);
                            });
                    }
                });

                inputElement.click();
            },
            next() {
                if (this.scene == "username") {
                    this.$refs.title.innerHTML = "رمز عبور خود را وارد کنید";
                    this.placeholder = "Password";
                    this.placeholder_2 = "Password again";
                    this.scene = "password";
                    this.character = "8";
                    this.Rusername = this.value;
                } else if (this.scene == "password") {
                    this.$refs.title.innerHTML = "لطفا بیو خود را وارد کنید";
                    this.scene = "bio";
                    this.placeholder = "من یک ...";
                    this.$refs.text.style.height = "100px"
                    this.$refs.text.style.direction = "rtl"
                    this.$refs.text.style.fontSize = ".8rem"
                    this.$refs.text.tag = "textarea"
                    this.$refs.text.focus()
                    this.Rpassword = this.value;
                    this.character = "0";
                } else if (this.scene == "bio") {
                    this.$refs.title.innerHTML = "لطفا آدرس خود را وارد کنید";
                    this.placeholder = "Country";
                    this.placeholder_2 = "city";
                    this.scene = "address";
                    this.Rbio = this.value;
                    this.character = "0";
                    this.$refs.input.focus()
                } else if (this.scene == "address") {
                    this.$refs.title.innerHTML =
                        "لطفا عکس پروفایل خود را بارگذاری کنید";
                    this.scene = "profile";
                    this.Rcountry = this.value;
                    this.Rcity = this.value_2;
                } else if (this.scene == "profile") {
                    this.$refs.title.innerHTML =
                        "لطفا جنسیت خود را انتخاب کنید";
                    this.scene = "gender";
                } else if (this.scene == "gender") {
                    var formData = new FormData();
                    formData.append("gender", this.Rgender);
                    formData.append("username", this.Rusername);
                    formData.append("password", this.Rpassword);
                    formData.append("city", this.Rcity);
                    formData.append("country", this.Rcountry);
                    formData.append("avatar", this.Ravatar);
                    formData.append("bio", this.Rbio);

                    fetch("/api/adduser", {
                        method: "PUT",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.ok) {
                                window.location.href = "/";
                                return response.json()
                            }
                        })
                        .then((data) => {
                            console.log(data);
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }
                this.value = "";
                this.value_2 = "";
            },
        },
    });
</script>
{% endraw %} {% endblock %}